// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0 auto;

}
.header {
  margin: 0 auto;
  height: 150px;
  width: 100%;
  background-color: rgb(192, 230, 192)
}

h2,h3,h4,h6{
  padding: 10px;
}

a{
  color: rgb(80, 136, 80)
}
